import 'package:jaguar_retrofit/annotations/annotations.dart';
import 'package:jaguar_retrofit/jaguar_retrofit.dart';
import 'package:jaguar_serializer/jaguar_serializer.dart';
import 'package:jaguar_mimetype/jaguar_mimetype.dart';
import 'dart:async';

{{#operations}}
{{#modelImports}}import 'package:{{pubName}}/model/{{.}}{{#protoFormat}}.pb{{/protoFormat}}.dart';
{{/modelImports}}
{{#fullImports}}import '{{.}}';
{{/fullImports}}

part '{{classFilename}}.jretro.dart';

@GenApiClient()
class {{classname}} extends ApiClient with _${{classname}}Client {
    Route base;
    final Map<String, CodecRepo> converters;

    {{classname}}(this.converters);

    {{#operation}}
    /// {{{summary}}}
    ///
{{{notes}}}
    @{{httpMethod}}Req(path: "{{path}}"{{#hasAuthMethods}}, metadata: {"auth": [{{#authMethods}} {"type": "{{type}}", "name": "{{name}}"{{#isApiKey}}, "keyName": "{{keyParamName}}", "where": "{{#isKeyInQuery}}query{{/isKeyInQuery}}{{#isKeyInHeader}}header{{/isKeyInHeader}}"{{/isApiKey}} }{{#hasMore}}, {{/hasMore}}{{/authMethods}}]}{{/hasAuthMethods}})
    Future<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}StringResponse{{/returnType}}> {{nickname}}(
    {{#pathParams}}
        @PathParam("{{baseName}}") {{dataType}} {{paramName}},
    {{/pathParams}}
    {{#headerParams}}
        @Header("{{baseName}}") {{{dataType}}} {{paramName}},
    {{/headerParams}}
    {{#queryParams}}
        @QueryParam("{{baseName}}") {{{dataType}}} {{paramName},
    {{/queryParams}}
    {{#vendorExtensions}}
        {{#formParams}}
            {{#isJson}}@AsJson() {{/isJson}}{{#isForm}}@AsFormField() {{/isForm}}{{#isMultipart}}@AsMultipartField() {{/isMultipart}}{{{dataType}}} {{paramName}},
        {{/formParams}}
        {{#bodyParam}}
            {{^isProto}}{{^isJson}}{{^isForm}}{{^isMultipart}}@AsBody(){{/isMultipart}}{{/isForm}}{{/isJson}}{{/isProto}} {{#isProto}}@Serialized(MimeTypes.binary) {{/isProto}}{{#isJson}}@AsJson() {{/isJson}}{{#isForm}}@AsForm() {{/isForm}}{{#isMultipart}}@AsMultipart() {{/isMultipart}}{{{dataType}}} {{paramName}},
        {{/bodyParam}}
    {{/vendorExtensions}}
        ) {
        return super.{{nickname}}(
    {{#pathParams}}
        {{paramName}},
    {{/pathParams}}
    {{#headerParams}}
        {{paramName}},
    {{/headerParams}}
    {{#queryParams}}
        {{paramName}},
    {{/queryParams}}

    {{#formParams}}
        {{paramName}},
    {{/formParams}}
    {{#bodyParam}}
        {{paramName}},
    {{/bodyParam}}
        );
    }

  {{/operation}}

}
{{/operations}}
