library {{pubName}}.api;

import 'package:dio/dio.dart';
import 'package:jaguar_serializer/jaguar_serializer.dart';
{{#protoFormat}}
import 'package:jaguar_serializer_protobuf/proto_repo.dart';
{{/protoFormat}}
import 'package:jaguar_retrofit/jaguar_retrofit.dart';
import 'package:jaguar_mimetype/jaguar_mimetype.dart';

{{#apiInfo}}{{#apis}}import 'package:{{pubName}}/api/{{classFilename}}.dart';
{{/apis}}{{/apiInfo}}
{{#models}}{{#model}}import 'package:{{pubName}}/model/{{classFilename}}{{#protoFormat}}.pb{{/protoFormat}}.dart';
{{/model}}{{/models}}


{{#jsonFormat}}
final _jsonJaguarRepo = JsonRepo()
{{#models}}{{#model}}{{^isEnum}}..add({{classname}}Serializer()){{/isEnum}}
{{/model}}{{/models}};

final Map<String, CodecRepo> _defaultConverters = {
    MimeTypes.json: _jsonJaguarRepo,
};
{{/jsonFormat}}

{{#protoFormat}}
final _protoJaguarRepo = ProtoCodecRepo()
{{#models}}{{#model}}..add((data) => {{classname}}.fromBuffer(List<int>.from(data)))
{{/model}}{{/models}};
final _jsonJaguarRepo = ProtoCodecRepo(isJsonFormatEnabled: true)
{{#models}}{{#model}}..add((data) => {{classname}}.fromBuffer(List<int>.from(data)))
{{/model}}{{/models}};

final Map<String, CodecRepo> _defaultConverters = {
    MimeTypes.json: _jsonJaguarRepo,
    MimeTypes.binary: _protoJaguarRepo,
};
{{/protoFormat}}

class {{clientName}} extends DefaultApi {
  Dio _dio;

  set dio(Dio dio) {
    _dio = dio;
    base = Route(dio.options.baseUrl).withClient(dio);
  }

  Dio get dio => _dio;

  {{clientName}}(Dio dio): super( _defaultConverters) {
    this.dio = dio;
  }
}